body {
  margin: 0;
  padding: 0;
  font-family: Cera Pro;
  background-color: white;
}
img {
  max-width: 100%;
}



/* Шапка */
.header {
  padding: 15px 0;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: black 4px solid;
}
.nav-list ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-item {
  list-style: none;
  margin-right: 25px;
  font-size: 26px;
  font-weight: 500;
}
.nav-item a {
  color: black;
  text-decoration: none;
}
.nav-item :hover {
  color: rgb(135, 135, 135);
  transition: 0.5s;
}




/* меню */
.header_menu {
  display: none;
}
/*      Отображения темной области за меню */
.header_menu {
  width: 60px;
  height: 50px;
  position: fixed;
  z-index: 1000;
  top: 1%;
  right: 2%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
.header_menu:hover {
  cursor: pointer;
}
/*      Линии в меню */
.header_menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
}
.header_menu span,
.header_menu span::before,
.header_menu span::after {
  display: block;
  width: 25px;
  right: 0;
  height: 3px;
  background-color: #fff;
  transition-duration: 0.3s;
}
.header_menu span::before,
.header_menu span::after {
  content: "";
  position: absolute;
}
.header_menu span::before {
  top: -9px;
  width: 20px;
}
.header_menu span::after {
  top: 9px;
  width: 33px;
}
/*       Крестик после нажатия на меню */
.header_menu.clicked span {
  background-color: transparent;
}
.header_menu.clicked span::before {
  transform: translateY(9px) rotate(45deg);
  width: 33px;
}
.header_menu.header_menu.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}




/* Главная */
.main {
  margin-top: 0;
}
.logoChurch{
  width: 150px;
}
.main-info {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.main-bg {
  background-image: url("images/newBackground1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container_text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 70%;
} 
.mainTitle {
  font-size: 30px;
  margin: 10px 0;
}
.mainText1 {
  text-align: center;
  margin-bottom: 15px;
}
.mainSuptitle {
  font-size: 20px;
  margin: 15px 0;
}
.mainText2{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.mainText2 p{
  margin: 5px 0;
}
/* Картинка */
.container-img {
  display: flex;             /* Чтобы выровнять картинку внутри */
  justify-content: center;
  align-items: center;
}
.churchOutside {
  border-radius: 35%;
  max-width: 100%;
  height: 375px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


/* СОЦ. СЕТИ */
.socialItem {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
}
.SocialImg {
  width: 50px;
}




/* Карта */
.church-map {
  background-image: url("images/newBackground1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.map-info {
  padding: 30px 100px 50px 100px;
}
.map-title {
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.map {
  display: flex;
  justify-content: center;
  border-radius: 45px;
  overflow: hidden;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}






/* Вероучение */
.faith-study {
  background-image: url("images/newBackground1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.faith-study .container {
  padding: 50px 15px;
}
.faith-title {
  text-align: center;
  font-size: 30px;
}
.faith-study ol {
  font-size: 24px;
}





/* Пожертвование */
.donation {
  background-image: url("images/newBackground1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.donation .container {
  padding: 50px 15px;
  display: flex;
}

.donation-title {
  text-align: center;
  font-size: 30px;
}
.donation-subtitle {
  font-size: 24px;
}
.donat-img {
  min-width: 80%;
  border-radius: 5%;
}




/* Подвал */
.footer {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("images/newBackground1.png");
  background-size: cover;
  background-position: center;
}

.footer-content {
  padding: 15px 10px;
  text-align: center;
  max-width: 900px;
}
.footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-info {
  font-size: 20px;
}




/* Адаптация */
@media (max-width: 1150px) {
  .donation .container {
    display: block;
  }
  
  .donation-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .donation-img a {
    display: inline-block;
    width: 35%;
  }
  .donat-img {
    width: 100%;
  }
}

@media (max-width: 1069px){
  .main-info {
    flex-direction: column;
    align-items: center;
  }
  .main-bg {
    height: auto;
    padding-bottom: 10px;
  }

  .main-info {
    flex-direction: column;
  }

  .container-img img {
    height: auto;
    max-width: 100%;
  }

} 


@media (max-width: 940px) {
  .nav-item {
    font-size: 22px;
    margin-right: 20px;
  }
  .faith-title {
    width: 100%;
  }
  .faith-study .container {
    padding: 50px 15px;
  }
  .donation-title {
    width: 100%;
  }
  .donation-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header_menu {
    display: block;
  }
  .header-list {
    flex-direction: column;
  }
  .donation-img a {
    width: 45%;
  }

  /* Список в меню */
  #nav {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    right: 0;
    height: 100%;
    max-width: 250px;
    width: 100%;
    padding: 100px 40px 60px;
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
  }
  #nav.showMenu {
    transform: translateX(0px);
  }
  #nav ul.header-list li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px 0;
    transition: all 0.3s ease;
  }
  #nav ul.header-list li a:hover {
    color: gray;
  }
  #nav ul.header-list {
    margin-bottom: 500px;
  }
}

@media (max-width: 729px) {
  .map-info {
    padding: 50px 50px;
  }
}

@media (max-width: 638px) {
  .map-info {
    padding: 50px 25px;
  }
}

@media (max-width: 526px) {
  .SocialImg {
    width: 90px;
  }
  .donation-img a {
    width: 55%;
  }
  
}
@media (max-width: 400px) {
  .donation-img a {
    width: 70%;
  }
}
